[Desktop Entry]
Version=2.1
Name=Wallch
Comment=Change desktop wallpapers automatically
Exec=/usr/bin/wallch --change
Icon=background.svg
#wallch
Terminal=false
Type=Application
Categories=Utility;Application;
MimeType=application/x-wallch-project

X-Ayatana-Desktop-Shortcuts=Launch;free;Once;Live_Earth;Auto;Start;Pause;Stop;Hand;Next;Previous;

[free Shortcut Group]
Name=-----------------------------------------------------
TargetEnvironment=Unity

[Once Shortcut Group]
Name=Změnit tapetu jednou
Exec=/usr/bin/wallch --change
TargetEnvironment=Unity

[Auto Shortcut Group]
Name=---- Měnit tapety automaticky ----
TargetEnvironment=Unity

[Start Shortcut Group]
Name=Start
Exec=/usr/bin/wallch --start
TargetEnvironment=Unity

[Pause Shortcut Group]
Name=Pause
Exec=/usr/bin/wallch --pause
TargetEnvironment=Unity

[Stop Shortcut Group]
Name=Stop
Exec=/usr/bin/wallch --stop
TargetEnvironment=Unity

[Hand Shortcut Group]
Name=------------------ Použít ... -------------------
TargetEnvironment=Unity

[Next Shortcut Group]
Name=Další tapetu
Exec=/usr/bin/wallch --next
TargetEnvironment=Unity

[Previous Shortcut Group]
Name=Předchozí tapetu
Exec=/usr/bin/wallch --previous 
TargetEnvironment=Unity

[Launch Shortcut Group]
Name=Spustit aplikaci
Exec=/usr/bin/wallch
TargetEnvironmet=Unity

[Live_Earth Shortcut Group]
Name=Live Earth Wallpaper
Exec=/usr/bin/wallch --earth
TargetEnvironmet=Unity
