[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jan Andrle
	email = andrle.jan@centrum.cz
	signingkey = B3A25AED155AFFAB
[credential]
	# see https://stackoverflow.com/questions/5343068/is-there-a-way-to-cache-https-credentials-for-pushing-commits/18362082#18362082
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[alias]
	aliases = !git config -l | grep ^alias | cut -c 7- | sort # List all aliases.  Stolen from here: https://twitter.com/TrevorBramble/status/774292970681937920
	checkout-default= !git checkout `git branch-default`
	checkout-default--= !git checkout-default && git branch --delete @{-1} --verbose
	branch-default = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
	branches = for-each-ref --sort=-committerdate refs --format=\"%(authordate:iso8601)\t%(color:blue)%(refname:short)%(HEAD)\t%(if:notequals="")%(upstream:short)%(then)→ %(upstream:short)%(color:reset)%(else)%(color:yellow)%(objectname:short)%(color:reset)\t%(contents:subject)%(end)\"
	tags = tag -l --sort=-creatordate --format='%(refname:short):	[%(creatordate:short)]	%(subject)'
	log-authors = shortlog -ns
	log-list = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen[%ad] -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
	log-list-nocolors = log --graph --pretty=format:'%h [%ad] -%d %s <%an>'
	status--= !git fetch && git status && echo && echo Commits unpushed: && git log @{push}..HEAD && echo
	commit--= !clear && git status -sb | grep -v -e '^ M' & git commit --interactive -v
	stashpush = !git stash && git pull && git push && git stash pop
	unstage = reset HEAD --
	undoall = reset --soft HEAD^
	diff-dirs = diff --dirstat --find-copies --find-renames --histogram --color
	status-submodule = !git submodule --quiet foreach 'git fetch' && git submodule foreach 'git status && echo'
	rm-submodule = !git submodule deinit -f $1 && rm -rf .git/modules/$1 && git rm -rf $1
	update-submodule = submodule update --remote --merge
	pull-submodule = submodule foreach 'git pull'
	diff-submodule = submodule foreach 'git diff'
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[core]
	editor = vim
	pager = delta
	whitespace = -trailing-space,-space-before-tab
[diff]
	tool = vimdiff
	colorMoved = default
[merge]
	tool = vimdiff
	conflictstyle = diff3
[log]
	date=iso
[interactive]
	diffFilter = delta --color-only
[delta] # [dandavison/delta: A syntax-highlighting pager for git, diff, and grep output](https://github.com/dandavison/delta)
	syntax-theme= Visual Studio Dark+
	navigate = true
	side-by-side = true
	line-numbers = true
[gc]
	reflogExpire = 200
	reflogExpireUnreachable = 90
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[rerere]
	enabled = true
