[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Jan Andrle
    email = andrle.jan@centrum.cz
[credential]
    # see https://stackoverflow.com/questions/5343068/is-there-a-way-to-cache-https-credentials-for-pushing-commits/18362082#18362082
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[alias]
    branches = branch -l -v -a
    tags = tag -l --sort=-creatordate --format='%(refname:short):	[%(creatordate:short)]	%(subject)'
    log-authors = shortlog -ns
    log-list = log --color --graph --pretty=format:'%Cred%h%Creset %Cgreen[%ad] -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset'
    log-list-nocolors = log --graph --pretty=format:'%h [%ad] -%d %s <%an>'
    status--= !git status && echo && echo Commits unpushed: && git log @{push}..HEAD && echo
    commit--= !clear && git status -sb | grep -v -e '^ M' & git commit --interactive -v
    stashpush = !git stash && git pull && git push && git stash pop
    unstage = reset HEAD --
    undoall = reset --soft HEAD^
    diff-dirs = diff --dirstat --find-copies --find-renames --histogram --color
[core]
    editor = vim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[log]
    date=iso
