snippet jshint "JSHint config for package.json" b
"jshintConfig": {
	"esversion": 6,
	"browser": "true",
	"undef": "true",
	"latedef": "true",
	"maxparams": 4,
	"maxdepth": 3,
	"maxcomplexity": 17,
	"globals": {
		"gulp_place": false
	}
}
endsnippet
