[Desktop Entry]
Encoding=UTF-8
Name=Microsoft Excel 2010
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Microsoft Excel 2010" %F
Icon=ms-excel.svg
#/home/jaandrle/.PlayOnLinux//icones/full_size/Microsoft Excel 2010
Name[fr_FR]=Microsoft Excel 2010
StartupWMClass=EXCEL.EXE
Categories=Office;Spreadsheet;
