[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=TABLET
Icon=unity-fallback-mount-helper.png
Exec=/usr/lib/unity-settings-daemon/unity-fallback-mount-helper
StartupNotify=false
StartupWMClass=Unity-fallback-mount-helper
OnlyShowIn=Unity;
X-UnityGenerated=true
