$include /etc/inputrc
# Use Vi, not Emacs, style editing
set editing-mode vi
# Keymaps for when we're in command mode (e.g., after hitting ESC)
set keymap vi-command
set keymap vi-insert
# Show vim mode indicators
set show-mode-in-prompt on
set vi-ins-mode-string ">_"
set vi-cmd-mode-string "$_"
# aka set wildmode=longest:full:list,full
TAB: menu-complete
"\e[Z": menu-complete-backward
set show-all-if-ambiguous on
set menu-complete-display-prefix on
# aka vim cmd up/down
"\e[A":history-search-backward
"\e[B":history-search-forward

set colored-stats On

"":"\C-W"
